body {
  background-color: #EAF6F6;
}

hr {
  background-color: white;
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: thick;
  width: 20%;
}

h1 {
  color: #ff9a76;
}

h3 {
  color: black;
}

img {
  border-radius: 50%;
}
